RewriteEngine on

# редирект на папку со слешем
# RewriteRule ^([^.]+)(?<!/)$ /$1/ [R=301,L]

# папка, в которой будет доступен ваш дор
# (раскомментируйте, если на хостинге Клиент - не единственный скрипт, напр., на ломе):
RewriteCond %{REQUEST_URI} ^\/images*

# путь до скрипта Клиента:
RewriteRule ^(.*)$ client.php [L]